.main_container {
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.logout {
    position: absolute;
    width: 15rem;
    right: 1rem;
    top: 5rem;
}

.logout-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.18em;

    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.heading-container{
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 49px;
    letter-spacing: 0.8em;
    color: #FFFFFF;
}

.seperator {
    width: 75%;
    margin: auto;
    background-color: rgba(135, 255, 226, 1);
}

.greeting {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.88);
}

.greeting-container {
    margin-bottom: 2rem;
}

.basic-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #FFFFFF;
}

.recom-row {
    margin: 5rem 0;
}

.recom-field {
    margin: 0 15rem;
}

.ratings {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding-top: 1rem;
}

.rating-num {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.065em;
    color: #F4EC2C;

}

.movie-info {
    display: flex;
    flex-direction: column;
}

.movie-name {    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-bottom: -0.8rem;
}

.movie-genre {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.065em;
    color: #656565;
}


.back {
    width: 23rem;
    height: 6rem;
    border: 1px solid #4AF3CB;
    padding-left: 1rem;
    cursor: pointer;
}


.back-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.back:hover {
    background-color: #ffffff;
    border: 0;
    transition: background-color 0.3s;
}

.back:hover .back-text{
    color: #049170;
    transition: color 0.3s;
}